/* Write your CSS here */
.bg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: auto;
    padding-bottom: 20px;
  }
  .subcont {
    width: 65%;
    padding: 10px;
  }
  
  .head-cont {
    background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
    background-size: cover;
    padding: 30px;
    font-family: 'Roboto';
    padding-left: 55px;
    margin-top: 20px;
    border: none;
    border-radius: 15px;
  }
  .name {
    color: #475569;
    font-weight: 500;
  }
  .welcome-text {
    color: #475569;
    font-weight: 500;
    font-size: 17px;
  }
 
  .mo-man {
    color: #0b69ff;
  }
  .details-cont {
    display: flex;
  }
  
  .side-heading {
    font-weight: 500;
    color: #1e293b;
  }
  .bottom-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 45px;
  }
  .cont {
    display: flex;
    flex-direction: column;
  }
  .label {
    color: #7e858e;
    font-size: 13px;
    margin: 5px;
    font-weight: 500;
  }
  .inp {
    border: 1px solid #d7dfe9;
    border-radius: 1px;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .inp {
    font-family: 'Roboto';
  }
  .button {
    border: 0px solid;
    border-radius: 5px;
    background-color: #0b69ff;
    color: #ffffff;
    padding: 8px;
    width: 63px;
    cursor: pointer;
    outline: none;
  }
  .li-cont {
    border: 1px solid #cbd5e1;
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 350px;
    justify-content: space-between;
  }
  li {
    display: inline-block;
    list-style-type: none;
  }
  .hst-con {
    width: 50% !important;
    padding-top: 0px;
    padding: 10px;
  }
  
  .header-dele {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    display: table-caption;
  }
  ul {
    align-items: flex-start;
    text-align: left;
  }
  .inp-details-cont {
    padding: 20px;
    border: 1px solid #cbd5e1;
    font-family: 'Roboto';
    border-radius: 10px;
    width: 350px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .header {
    margin-right: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    color: #1e293b;
    font-family: 'Roboto';
    font-weight: 500;
    display: table-caption;
  }
  ul{
    padding-inline-start: 0px;
  }
  @media (max-width: 576px) {
    .header{
      margin-right: 0px;
      margin-left: 5px;
    }
    .hst-con{
      margin-top: 10px;
      width: 100% !important;
    }
    .text{
      font-size: 12px;
    }
    .inp-details-cont{
      width: 100%;
      padding: 10px;
    }
    .li-cont{
      width: 250px;
    }
    ul{
      padding-inline-start: 0px;
    }
    
    
    .side-heading{
      font-size: 25px;
    }
    .subcont{
      width: 95%;
      padding-top: 0px;
    }
    .head-cont{
      width: 100%;
      background-size: cover;
      padding: 10px;
      border: none;
      border-radius: 15px;
    }
    .name{
      font-size: 20px;
    }
    .welcome-text{
      font-size: 12px;
    }
    .bottom-cont{
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
    
    
  }