.bg-app-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}
.logout-btn{
    padding: 10px;
    border: 1px solid #06b6d4;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    font-family: 'Roboto';
    font-size: 15px;
    margin-top: 5px;
    background-color: #cffafe;
    color: #475569;
}
.nav-head{
    font-weight: normal;
    font-size: 25px;
    font-family: 'Ga Maamli';
    
}
@media (max-width:576px) {
    .logout-btn{
        font-size: 12px;
        padding: 5px;
    }
}